@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  background-color: #fff4ea;
  font-family: bodyFont;
}
html {
  background-color: #fff4ea;
  font-family: bodyFont;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #fff4ea;
  font-family: bodyFont;
}
